extends base

block content
    form(method="POST")
        input(placeholder="Old Password" type="text")
        input(placeholder="New Password" type="text")
        input(placeholder="New Password Confirm" type="text")
        input(type="submit" value="Change Password")